{% assign matrix_url='https://element.seattlematrix.org/' %}
{% assign event_url='https://gettogether.community/team/1318/events.ics' %}

<div class="col-md-6 console col-sm-12" >
  <div id="meetup-embed">
      <h4>Next Event:</h4>
      <a href="{{ matrix_url }}" target="_blank">
        <ul>
          <li>Lean Coffee Style Discussion</li>
          <li id="date-item"></li>
          <li>Virtual Event</li>
          <li>Visit {{ matrix_url }} for details</li>
        </ul>
      </a>
  </div>

  <script src={{ site.baseurl | append:'/assets/js/getEvent.js' }} type="text/javascript"></script> 
  <script>
      getEvent('{{ event_url }}', mdate => document.getElementById("date-item").innerText=mdate)
  </script> 

</div>
